body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

form {
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 1px solid #ddd;
}

form img {
    width: 100%; /* Use 100% to make the image responsive within the container */
    max-width: 100px; /* Adjust max-width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin: 0 auto; /* Center the image horizontally using auto margins */
    display: block; /* Ensure the image is treated as a block element */
    margin-bottom: 20px; /* Adjust margin-bottom for spacing */
}

h2 {
    text-align: center;
}

label {
    margin-bottom: 10px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgba(255, 128, 0, 0.99);
    color: #fff;
    cursor: pointer;
}